#footerDiv {
    margin-top: 100px;
    height: 200px;
    background-color:#46A3FF;
    box-shadow: 0 -2px 3px gray;
}

#footerDiv p {
	margin-bottom: 3px;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

#footerDiv p a{
	color: white;
}

#footerLogoDiv {
/* 	width: 200px; */
	color: white;
	font-size: 25px;
	font-weight: 550;
	margin-top: 20px;
	margin-left: 190px;
}

#footerDetailDiv1, #footerDetailDiv2 {
	margin-top: 0;
	padding-top: 0;
}


html {
  scroll-behavior: smooth;
}