#bar1 {
    box-shadow: 0 1px 2px rgb(180, 179, 179);
}

#bar1 a {
    margin-left: 70px;
    font-size: 25px;
    font-weight: 550;
    color: white;
}

#bar1 button {
    padding: 6px 10px;
    font-size: 15px;
    margin-right: 20px;
    border-radius: 20px;
}

#ulHeaderM {
    background-color: rgb(245,245,245);
    box-shadow: 0 1px 2px rgb(180, 179, 179);
}

#ulHeaderM .nav-item {
    font-size: 17px;
    text-align: center;
    width: 200px;
}

#ulHeaderM li .nav-link {
    font-weight: 550;
    color: gray;
    cursor: pointer;
}

#ulHeaderM li .nav-link:hover {
    color: #007bff;
}

#ulHeaderM .dropdown-menu {
    min-width: 118px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(180, 179, 179);
    margin-top: 1px;
}

/* #ul1 .nav-item:hover {
    background-color: skyblue;
} */